html, body{
    margin: 0px;
    height: 100%;
    width: 100%;
    background-image: url(../img/fundo4.jpg);
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main h1{
    width: 40%;
    height: 50px;
    background-color: rgb(113, 171, 238); 
    border-radius: 10px;
}
#tabuleiro{
    width: 95%;
    height: 160%;
    background-color: rgb(113, 171, 238);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px; 
    border-radius: 5px;
}
.card{
    width: 33%;
    height: 40%;
    background-color: rgb(246, 246, 253);
    box-shadow: rgb(56, 122, 177) 10px 10px 10px;
}
img{
    width: 320px;
    height: 55%;
    border-radius: 10px;
    box-shadow: cadetblue 10px 10px 10px;
}
button{
    justify-content: center;
    background-color: rgb(149, 199, 201);
    box-shadow: rgb(169, 231, 233);
    border-radius: 10px;
    
}
h3{
    background-color: rgb(71, 122, 146);
    border-radius: 10px;
    width: 20%;
    height: 4%;
    justify-content: center;
    align-items: center;
    text-align: center;

}
